{% extends "govuk/template.njk" %}

{% from "govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs %}

{% block beforeContent %}
  {{ govukBreadcrumbs({
    items: [
      {
        text: "Home",
        href: "/"
      }
    ]
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">{{ title | default("Page not found") }}</h1>

      <div class="govuk-body">
        {{ content | safe }}
      </div>

      <p class="govuk-body">
        <a href="/" class="govuk-link">Return to the homepage</a>
      </p>
    </div>
  </div>
{% endblock %}
